@import '../../variables.scss';

.Pizza {
  margin: auto;
  max-width: 920px;

  .get-pizza-button {
    background-color: $red2;
    border-bottom: 6px solid $red1;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 20px auto;
    padding: 10px 25px;
    @include std-transition;
  }

  .get-pizza-button:hover {
    background-color: darken($red2, 10%);
  }

  .pizza-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 919px) {
  .Pizza {
    .pizza-container {
      flex-direction: column;
    }
  }
}