@import '../../variables.scss';

.Pizza {
  max-width: 920px;
  margin: auto;

  .get-pizza-button {
    background-color: $red2;
    border-bottom: 6px solid $red1;
    color: #fff;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    @include std-transition;
  }

  .get-pizza-button:hover {
    background-color: darken($red2, 10%);
  }

  .pizza-container {
    display: flex;
    justify-content: center;
  }
}