@import '../../variables.scss';

.Header {
  background-color: $brown3;
  border-bottom: 6px solid $brown2;
  margin-bottom: 36px;
  padding: 10px 20px;

  h1 {
    color: #fff;
  }

  .logo-span {
    color: $red2;
  }
}