/******  GLOBAL CSS VARIABLES  ******/
/***  COLORS  ***/
/***  FONTS  ***/
* {
  font-size: 20px;
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  outline: none;
  color: #8b5e3c;
  box-sizing: border-box; }

h1 {
  font-family: "tekton-pro", sans-serif;
  line-height: 1.3; }

h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  line-height: 1.3;
  font-weight: 500; }

h3 {
  color: #8b5e3c;
  font-weight: 900;
  margin-top: 10px;
  line-height: 1.5; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 39px; }

h3 {
  font-size: 34px; }

h4 {
  font-size: 27px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 12px; }

p {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 300;
  color: #d1be95; }

/***  MIXINS  ***/
.OrderDetailsLeft {
  padding: 0 30px;
  width: 260px; }
  .OrderDetailsLeft .order-container {
    border-left: 6px solid #ded2bb;
    padding-left: 10px; }
  .OrderDetailsLeft span {
    color: #d1be95; }
  .OrderDetailsLeft .font-bold {
    color: #8b5e3c; }

@media screen and (max-width: 919px) {
  .OrderDetailsLeft {
    margin: auto; } }
