@import '../../variables.scss';

.OrderDetailsLeft {
  padding: 0 30px;
  width: 260px;

  .order-container {
    @include border-left;
  }

  span {
    color: $brown3;
  }

  .font-bold {
    color: $brown4;
  }
}

@media screen and (max-width: 919px) {
  .OrderDetailsLeft {
    margin: auto;
  }
}